<template>
<div class="">
          <button class="button is-black size">客服</button>
          <button class="button is-black size">影院</button>
          <button class="button is-black size">娛樂</button>
          <button class="button is-black size">分類</button>
          <button class="button is-black size">我的</button>
</div>  
</template>

<script>

  export default {
    created(){
    },
    components: {
     
    }
  };
</script>

<style lang="scss" scoped>
  @import "./button.scss";
</style>