@import "~assets/scss/_variables.scss";

.header{
  border-bottom: 1px solid #e2e8ec;
  background-color:black;

  .navbar{
    background-color:black;
    padding: 0;
    min-height: 70px;
    color: white;
    font-family : "微軟正黑體","Microsoft JhengHei",san-serif 
    
  }
  .title_img{
    width: 70px;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .title_span{
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  }
  .navbar-menu{
    padding: 0px;
  }
  
  @media screen and (min-width: $desktop){
    .navbar{
      padding: 0 10px;
      
    }
    .navbar-brand{
      padding-top: 0px;
      margin-right: 30px;
    }
    .title_img{
      width: 100px;
      height: 40px;
      margin-top: 0px;
      margin-bottom: 50px;
    }
    .title_span{
      font-size: 15px;
    }
  }
  a {
    color: #4A4F54;
  }
  p.has-icons-left{
    min-width: 250px;
  }
    
}
