@import "~assets/scss/_variables.scss";


    @media screen and (min-width: $cell){
        .bg{
            background-color: rgb(15, 15, 15);
            padding: 10px;
        }
    }
    @media screen and (min-width: $tablet){
       .bg{
         background-color: rgb(15, 15, 15);
         padding: 10px;
     }
    }
@media screen and (min-width: $desktop){
        .bg{
         background-color: rgb(15, 15, 15);
         padding: 10px;
        }
    }
