<template>
<div class="bg">
  <div class="container">
        <City></City>

        
  </div>
</div>  
</template>

<script>
  import City from './City';
  export default {
    name: 'Header',
    props: ['title'],
    data () {
    },
    created(){
    },
    components: {
      City
    }
  };
</script>

<style lang="scss" scoped>
  @import "./choose.scss";
</style>