@import "~assets/scss/_variables.scss";



    @media screen and (min-width: $cell){
        .size{
            margin: 0px;
        }
   
    }
    @media screen and (min-width: $tablet){
        .size{
            margin: 0 10px
        }
       
    }
    @media screen and (min-width: 860px){
        .size{
            margin: 0 10px
        }
        .lsize{
            width: 5px; 
        }
    }