<template>
<div class="">
          <button class="button is-danger size">臺北</button>
          <button class="button is-danger size">桃園</button>
          <button class="button is-danger size">臺中</button>
          <button class="button is-danger size">高雄</button>
          <button class="button is-danger size">臺南</button>    
</div>  
</template>

<script>

  export default {
    created(){
    },
    components: {
     
    },
  };
</script>

<style lang="scss" scoped>
  @import "./city.scss";
</style>