<template>
        <div class="navbar-menu is-active">
          <div class="navbar-end is-hidden-mobile">
            <div class="navbar-item field">
              <button class="button is-danger size">臺北</button>
            </div>
          </div>
        </div> 
</template>

<script>

  export default {
    created(){
    },
    components: {
     
    },
  };
</script>

<style lang="scss" scoped>
  @import "./city.scss";
</style>