<template>  
<div>

        <div v-swiper="swiperOption" @mouseenter="stopSwiper" @mouseleave="startSwiper">
          <div class="swiper-wrapper">
            <div v-for="(item, index) in dataImage" :key="index" class="swiper-slide">
              <img :src="item.imgUrl" />
            </div>
          </div>
          <div slot="pagination" class="swiper-pagination"></div>
        </div>
</div>
</template>

<script>

  export default {
    created(){
    },
    components: {
     
    },
    data() {
    return {
      dataImage: [
        {
          imgUrl: require("../../assets/img/banner1.png")
        },
        {
          imgUrl: require("../../assets/img/banner2.png")
        },
         {
          imgUrl: require("../../assets/img/banner3.png")
        }
      ],
      swiperOption: { // 配置说明直接看官网
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        lazy: {
          loadPrevNext: true
        },
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      }
    };
  },
  beforeMount() {},
  swiper() {
    // 如果你需要得到当前的swiper对象来做一些事情，你可以像下面这样定义一个方法属性来获取当前的swiper对象，同时notNextTick必须为true
    return this.$refs.swiperBox.swiper;
  },
  methods: {
    
  }
};
</script>

<style lang="scss" scoped>
  @import "./banner.scss";

</style>

