<template>
  
      <div class="hero hero-back">
            <div class="hero-body">
              <div class=" has-text-centered">
                <div>
                  <img class="rank" src="@/assets/img/rank.png" alt="">
                
                  <img class="rank mar" src="@/assets/img/new.png" alt="">
                </div>
              </div>
            </div>  
      </div>
      
             
                  
                     
   
</template>

<script>

  export default {
    created(){
    },
    components: {
     
    }
  };
</script>

<style lang="scss" scoped>
  @import "./rank.scss";
</style>