@import "~assets/scss/_variables.scss";




@media screen and (min-width: $cell){
    .rank{
        width: 100%;     
        margin: 0px 10px;
        height: 200px;
    }
    .hero-back{
        background-color:#e7f0f0;
        }
}

@media screen and (min-width: $tablet){
.rank{
    width: 45%;
    margin: 0 10px; 
    height: 170px;
}
.hero-back{
    background-color:#e7f0f0;
    }
}
@media screen and (min-width: $desktop){
    .rank{
        width: 45%;
        margin: 0 10px;
        height: 377px;
    }
    .hero-back{
        background-color:#e7f0f0;
        }
    }