<template>
  <div class="courseList">
    <div class="columns is-centered is-multiline">
      <div class="card column is-5-tablet is-3-desktop size" v-for="(item, index) in dataImage" :key="index">
        <div class="course_item">
          <div class="card-image">
            <figure class="image is-4by3">
              <img :src="item.imgUrl" />
            </figure>
          </div>
          <div class="course_title_parent">
            <div class="course_title is-clearfix">
              <h2 class="is-pulled-left">正妹名稱</h2>
            </div>
          </div>
          <div class="description">
            正妹介紹
          </div>
          <nuxt-link class="details" :to="{
              name: 'course-id',
              params: {
                id: n
              }
            }">
          </nuxt-link>
        </div>
      </div>
      <div v-if="1==2" class="section">
        <p>沒有發現課程!!</p>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  data () {
    return {
      dataImage: [
        {
          imgUrl: require("../../assets/img/lady1.png")
        },
        {
          imgUrl: require("../../assets/img/lady2.png")
        },
         {
          imgUrl: require("../../assets/img/lady3.png")
        }
      ],
    };
  },
  mounted(){
  },
  computed: {
  },
  methods: {
  }
};
</script>

<style lang="scss" scoped>
  @import "./courseList.scss";
</style>
