<template>
  <div class="container">
    <div>
      <Logo />
      
      <h1 class="title">
        h18
      </h1>
      <h2>
        test
      </h2> 
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
      <div>
        <nuxt-link to="/demo/tpl" no-prefetch>到 demo/tpl 頁</nuxt-link> 
        <nuxt-link to="/">回首頁</nuxt-link>
      </div>  
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  created(){
   console.log(this.$route)
  },
  components:{
    Logo
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
