<template>
  <div class="NuxtLogo" width="300" height="100" viewBox="0 0 452 342">
    <img src="@/assets/img/h18.png" alt="">
  </div>
  
</template>
<script>
export default {
  
}
</script>
<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
