<template>
  <div class="background">
    <Header title="H18"></Header>
    <Choose></Choose>
    <Banner></Banner>
    <CourseList></CourseList>
    <Rank></Rank>
    <LoginModal modalTyple="registered" :openModal=true></LoginModal>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '~/components/Header/Header.vue'
import CourseList from '~/components/CourseList/CourseList.vue'
import Footer from '~/components/Footer/Footer.vue'
import LoginModal from '~/components/Modal/LoginModal.vue'
import Banner from '~/components/Banner/Banner.vue'
import Rank from '~/components/Banner/Rank.vue'
import Choose from '~/components/Choose/Choose.vue'

export default {
  components:{
    Header,
    CourseList,
    Footer,
    LoginModal,
    Banner,
    Rank,
    Choose
  }
}
</script>